[Unit]
Description=Run monitoring.service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=monitoring.service

[Install]
WanrtedBy=timer.target
